* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
}

header .top-header {
  background-color: #0282f9;
  display: flex;
  justify-content: end;
  padding-right: 500px;
  color: white;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-self: flex-end;
}

header .top-header select {
  border: none;
  background-color: #0282f9;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  text-align: center;
}

header .container img {
  height: 80px;
  margin: 20px 0px;
}

header .container ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}

header .container li {
  list-style-type: none;
  padding-bottom: 48px;
  margin-top: 50px;
}

header .container li:hover {
  border-bottom: 3px solid #0282f9;
  color: #0282f9;
}

header .container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 13px;
}

header li:hover a {
  color: #0282f9;
}

header .jumbo {
  height: 400px;
}

header .jumbo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  width: 100%;
}

main {
  color: white;
  background-color: #1c1c1c;
}

main .borderMain {
  background-color: #0282f9;
  height: 100px;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
  align-items: center;
  padding: 50px 0px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  row-gap: 80px;
  position: relative;
}

main .container .imgDetail {
  position: absolute;
  left: 150px;
  top: -320px;
  border: 1px solid white;
}

main .container .current {
  position: absolute;
  left: 0;
  top: -40px;
  background-color: #097df6;
  padding: 15px 20px;
  font-weight: bolder;
  font-size: 25px;
}

main button {
  color: white;
  padding: 10px 50px;
  background-color: #097df6;
  margin: 30px 0px;
  border: 1px solid transparent;
  transition-property: border-radius, background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

main button:hover {
  border-radius: 25px;
  background-color: transparent;
  border-color: white;
}

main .card {
  width: 13.6666666667%;
  height: 200px;
  text-align: left;
  transition: transform 0.5s ease-in;
}

main .card:hover {
  transform: scale(1.1);
}

main .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 10px;
}

main .card a {
  text-decoration: none;
  color: white;
}

.mainDetail {
  background-color: white;
}

.mainDetail .borderMain {
  background-color: #0282f9;
  height: 100px;
}

.mainDetail .containerDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 55%;
  align-items: center;
  padding: 50px 0px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  row-gap: 80px;
  position: relative;
}

.mainDetail .containerDetail .imgDetail {
  position: absolute;
  left: 0px;
  top: -320px;
  border: 1px solid white;
}

.mainDetail .containerDetail .infoComic {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.mainDetail .containerDetail .infoComic .description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mainDetail .containerDetail .infoComic .description .title {
  color: #003f5f;
}

.mainDetail .containerDetail .infoComic .description .infoPrice {
  display: flex;
  background-color: #55ba59;
  height: 40px;
  align-items: center;
}

.mainDetail .containerDetail .infoComic .description .infoPrice .price {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  border-right: 1px solid black;
  width: 70%;
}

.mainDetail .containerDetail .infoComic .description .infoPrice .price span {
  color: #abf995;
}

.mainDetail .containerDetail .infoComic .description .infoPrice .disponibility div {
  margin-left: 20px;
}

.mainDetail .containerDetail .infoComic .description .infoPrice .disponibility select {
  border: none;
  color: white;
  background-color: #55ba59;
}

.mainDetail .containerDetail .infoComic .description .plot {
  color: black;
  line-height: 25px;
}

.mainDetail .containerDetail .infoComic .adv {
  display: flex;
  flex-direction: column;
}

.mainDetail .containerDetail .infoComic .adv h5 {
  text-align: right;
  color: black;
}

.botMain {
  background-color: #f6f6f6;
}

.botMain .detail {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 55%;
  margin: 20px auto;
}

.botMain .detail .talent {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}

.botMain .detail .specs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}

.botMain .detail .det {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.botMain .detail .det p {
  font-size: 12px;
}

.botMain .detail .det div {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.top {
  background-color: #0282f9;
}

.top .container {
  display: flex;
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 40px 20px;
  justify-content: space-evenly;
}

.top .container .merch {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: white;
}

.top .container .merch img {
  width: 40px;
}

.top .container .merch a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

footer .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  text-align: center;
}

footer .container .info {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

footer .container .link {
  text-align: left;
  padding: 60px 20px;
}

footer .container .link h3 {
  color: white;
  margin-bottom: 10px;
}

footer .container .link ul {
  margin-bottom: 10px;
}

footer .container .link li {
  list-style-type: none;
}

footer .container .link a {
  color: grey;
  text-decoration: none;
  font-size: 13px;
}

footer .footerLogo {
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

footer .bot-footer {
  background-color: #303030;
}

footer .container-footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 40px 0px;
}

footer .container-footer button {
  color: white;
  background-color: transparent;
  padding: 15px 10px;
  border: 2px solid #097df6;
  font-size: 18px;
}

footer .container-footer h3 {
  color: #097df6;
  font-size: 20px;
}

footer .container-footer .followUs {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
}

