//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;

    .top-header {
        background-color: #0282f9;
        display: flex;
        justify-content: end;
        padding-right: 500px;
        color: white;
        column-gap: 40px;
        align-self: flex-end;

        select {
            border: none;
            background-color: #0282f9;
            color: white;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 70%;
        text-align: center;

        img {
            height: 80px;
            margin: 20px 0px;
        }

        ul {
            display: flex;
            column-gap: 20px;
            align-items: center;
        }

        li {
            list-style-type: none;
            padding-bottom: 48px;
            margin-top: 50px;

            &:hover {
                border-bottom: 3px solid #0282f9;
                color: #0282f9;
            }
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 13px;
        }
    }

    li:hover a {
        color: #0282f9;
    }

    .jumbo {
        height: 400px;

        img {
            object-fit: cover;
            object-position: top;
            height: 100%;
            width: 100%;
        }
    }
}

main {
    color: white;
    background-color: #1c1c1c;

    .borderMain {
        background-color: #0282f9;
        height: 100px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        width: 70%;
        align-items: center;
        padding: 50px 0px;
        column-gap: 3%;
        row-gap: 80px;
        position: relative;

        .imgDetail {
            position: absolute;
            left: 150px;
            top: -320px;
            border: 1px solid white;
        }

        .current {
            position: absolute;
            left: 0;
            top: -40px;
            background-color: #097df6;
            padding: 15px 20px;
            font-weight: bolder;
            font-size: 25px;
        }

    }

    button {
        color: white;
        padding: 10px 50px;
        background-color: #097df6;
        margin: 30px 0px;
        border: 1px solid transparent;
        transition-property: border-radius, background-color, border-color;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;

        &:hover {
            border-radius: 25px;
            background-color: transparent;
            border-color: white;
        }
    }

    .card {
        width: calc(100% / 6) - 3%;
        height: 200px;
        text-align: left;
        transition: transform 0.5s ease-in;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.mainDetail {

    background-color: white;

    .borderMain {
        background-color: #0282f9;
        height: 100px;
    }

    .containerDetail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        width: 55%;
        align-items: center;
        padding: 50px 0px;
        column-gap: 3%;
        row-gap: 80px;
        position: relative;

        .imgDetail {
            position: absolute;
            left: 0px;
            top: -320px;
            border: 1px solid white;
        }

        .infoComic {
            display: flex;
            column-gap: 30px;

            .description {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .title {
                    color: #003f5f;
                }

                .infoPrice {
                    display: flex;
                    background-color: #55ba59;
                    height: 40px;
                    align-items: center;

                    .price {
                        display: flex;
                        padding: 0px 10px;
                        justify-content: space-between;
                        border-right: 1px solid black;
                        width: 70%;

                        span {
                            color: #abf995;
                        }
                    }

                    .disponibility {

                        div {
                            margin-left: 20px;
                        }

                        select {
                            border: none;
                            color: white;
                            background-color: #55ba59;
                        }
                    }
                }

                .plot {
                    color: black;
                    line-height: 25px;
                }
            }

            .adv {
                display: flex;
                flex-direction: column;

                h5 {
                    text-align: right;
                    color: black;
                }
            }
        }
    }
}

.botMain {
    background-color: #f6f6f6;

    .detail {
        display: flex;
        column-gap: 40px;
        width: 55%;
        margin: 20px auto;

        .talent {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 50%;
        }

        .specs {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 50%;
        }

        .det {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid grey;

            p {
                font-size: 12px;
            }

            div {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

.top {
    background-color: #0282f9;

    .container {
        display: flex;
        margin: auto;
        width: 70%;
        text-align: center;
        padding: 40px 20px;
        justify-content: space-evenly;

        .merch {
            display: flex;
            align-items: center;
            column-gap: 20px;
            color: white;

            img {
                width: 40px;
            }

            a {
                font-size: 13px;
                color: white;
                text-decoration: none;
            }
        }
    }
}

.topFooterDetail {
    background-color: #f6f6f6;
    color: grey;
    margin-top: -20px;

    .container {
        display: flex;
        margin: 0 auto;
        width: 55%;
        text-align: center;
        padding: 40px 20px;
        justify-content: space-evenly;

        .merch {
            display: flex;
            align-items: center;
            column-gap: 20px;
            border-left: 1px solid lightgrey;
            border-right: 1px solid lightgrey;
            padding: 0px 20px;
            color: grey;

            img {
                width: 30px;
                filter: invert(30%);
            }

            a {
                font-size: 13px;
                color: grey;
                text-decoration: none;
            }
        }
    }
}

footer {
    //background-image: url(../../public/images/footer-bg.jpg);

    .container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 70%;
        text-align: center;

        .info {
            display: flex;
            column-gap: 30px;
        }

        .link {
            text-align: left;
            padding: 60px 20px;

            h3 {
                color: white;
                margin-bottom: 10px;
            }

            ul {
                margin-bottom: 10px;
            }

            li {
                list-style-type: none;
            }

            a {
                color: grey;
                text-decoration: none;
                font-size: 13px;
            }
        }
    }

    .footerLogo {
        //background-image: url(../../public/images/dc-logo-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
    }

    .bot-footer {
        background-color: #303030;
    }

    .container-footer {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 70%;
        text-align: center;
        padding: 40px 0px;

        button {
            color: white;
            background-color: transparent;
            padding: 15px 10px;
            border: 2px solid #097df6;
            font-size: 18px;
        }

        h3 {
            color: #097df6;
            font-size: 20px;
        }

        .followUs {
            display: flex;
            column-gap: 25px;
            align-items: center;
        }
    }
}